In [3]:
import pandas as pd

def load_clean_train_data():
    train = pd.read_csv('../input/competitive-data-science-predict-future-sales/sales_train.csv')

    # Summing sales for each month and clipping into [0, 20]
    train = train.groupby(['shop_id', 'item_id','date_block_num'])['item_cnt_day'].sum()
    train = train.reset_index()
    train['item_cnt_day'] = train['item_cnt_day'].map(lambda x: max(0, min(20, x)))
    return train


train = load_clean_train_data()
train.head()

   shop_id  item_id  date_block_num  item_cnt_day
0        0       30               1          20.0
1        0       31               1          11.0
2        0       32               0           6.0
3        0       32               1          10.0
4        0       33               0           3.0