In [5]:
import pandas as pd

def prepare_train_data():
    train = pd.read_csv('../input/competitive-data-science-predict-future-sales/sales_train.csv')


    # Summing sales for each month and clipping into [0, 20]
    train = train.groupby(['shop_id', 'item_id','date_block_num'])['item_cnt_day'].sum()
    train = train.reset_index()
    train['item_cnt_day'] = train['item_cnt_day'].map(lambda x: max(0, min(20, x)))
    
   
    # add month and year
    train['month'] = train['date_block_num'].map(lambda x: (x % 12) + 1)
    train['year'] = train['date_block_num'].map(lambda x: 2013 + x // 12)

    
    # Dropping sales in Dec.
    train = train[(train['month'] != 1)]
    
    return train


def prepare_test_data():
    test = pd.read_csv('../input/competitive-data-science-predict-future-sales/test.csv')

    test['date_block_num'] = 34 
    test['month'] = 11
    test['year'] = 2015
    
    return test


train = prepare_train_data()
test = prepare_test_data()

In [6]:
train.head()

   shop_id  item_id  date_block_num  item_cnt_day  month  year
0        0       30               1          20.0      2  2013
1        0       31               1          11.0      2  2013
3        0       32               1          10.0      2  2013
5        0       33               1           3.0      2  2013
7        0       35               1          14.0      2  2013

In [8]:
test.head()

   ID  shop_id  item_id  date_block_num  month  year
0   0        5     5037              34     11  2015
1   1        5     5320              34     11  2015
2   2        5     5233              34     11  2015
3   3        5     5232              34     11  2015
4   4        5     5268              34     11  2015

In [ ]:
# 1